@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&family=Inter:wght@400;500;600&display=swap");
@import "modern-normalize/modern-normalize.css";

:root {
  --layout-max-width: 1400px;
  --main-max-width: 1100px;

  /* Colors */
  --color-sage-light: #e5eab6;
  --color-cream: #f9faef;
  --color-deep-purple: #1c0e30;
  --color-olive-dark: #5f721d;
  --color-olive-hover: #4e5f18;

  --color-text-main: #1a1a1a;
  --color-text-muted: #616e5c;
  --color-text-inverse: #ffffff;

  /* Typography */
  --font-serif-family: "Merriweather", serif;
  --font-sans-family: "Inter", sans-serif;

  /* Spacings */
  --spacing-section-y: 5rem;
  --spacing-element-sm: 0.5rem;
  --spacing-element-md: 1rem;
  --spacing-element-lg: 2rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans-family);
  color: var(--color-text-main);
  background-color: var(--color-sage-light);
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif-family);
}
