.root {
  min-height: 100vh;
  position: relative;
}

.main {
  /* max-width: var(--main-max-width); */
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 1024px) {
  .main {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.fixedWidth {
  max-width: var(--main-max-width);
  margin: 0 auto;
}
