.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.topSection {
  flex: 1;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem 1.5rem 4rem;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .topSection {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
